/*
* Wallust GTK Colors - Frosted v3 (No Errors)
*/

@define-color accent_color #B8AEA3;
@define-color accent_fg_color #434141;
@define-color accent_bg_color #B8AEA3;
@define-color window_bg_color #434141;
@define-color window_fg_color #CBC6C1;
@define-color view_bg_color #434141;
@define-color view_fg_color #CBC6C1;

/* --- THUNAR TRANSPARENCY --- */

.thunar .sidebar,
.thunar .sidebar .view,
.thunar .sidebar treeview,
.thunar .shortcuts-view,
.thunar .shortcuts-pane,
.thunar scrolledwindow.sidebar,
.thunar treeview.view {
    background-color: rgba(0,0,0,0);
    background-image: none;
    border-style: none;
}

/* Rounding */
window.ssd,
window.csd,
window.background,
.thunar-window {
    border-radius: 20px;
}

/* Remove Borders */
.thunar scrolledwindow {
    border-width: 0;
}
