* {
    primary: #4cd9df;
    primary-fixed: #6ff6fb;
    primary-fixed-dim: #4cd9df;
    on-primary: #003738;
    on-primary-fixed: #002021;
    on-primary-fixed-variant: #004f52;
    primary-container: #004f52;
    on-primary-container: #6ff6fb;
    secondary: #80d4d7;
    secondary-fixed: #9cf1f4;
    secondary-fixed-dim: #80d4d7;
    on-secondary: #003738;
    on-secondary-fixed: #002021;
    on-secondary-fixed-variant: #004f52;
    secondary-container: #004f52;
    on-secondary-container: #9cf1f4;
    tertiary: #9dcbfb;
    tertiary-fixed: #cfe5ff;
    tertiary-fixed-dim: #9dcbfb;
    on-tertiary: #003355;
    on-tertiary-fixed: #001d34;
    on-tertiary-fixed-variant: #124a73;
    tertiary-container: #124a73;
    on-tertiary-container: #cfe5ff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0d141b;
    on-surface: #dce3ee;
    on-surface-variant: #b9c8da;
    outline: #8492a3;
    outline-variant: #3a4857;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dce3ee;
    inverse-on-surface: #2a3139;
    inverse-primary: #00696c;
    surface-dim: #0d141b;
    surface-bright: #333a42;
    surface-container-lowest: #080f16;
    surface-container-low: #151c24;
    surface-container: #192028;
    surface-container-high: #242b33;
    surface-container-highest: #2e353e;
}
