* {
    font: "JetBrainsMono Nerd Font 11";
    padding: 4px 12px;
}

window {
    width: 35%;
    border-radius: 12px;
}

listview {
    border-radius: 12px;
    padding: 2px 5px;
}

element {
    padding: 4px;
    margin: 2px 0;
    border-radius: 8px;
}

element selected {
    background-color: #3b3b3b;
}
